<div class="task">
  <div class="fields">
    <div class="complete">
      <% if task.complete %>
        <%= check_box_tag 'complete', 'complete', true %>
      <% else %>
        <%= check_box_tag 'complete', 'complete', false %>
      <% end %>
    </div>
    <div class="title">
  	  <%= task.title %>
    </div>
    <div class="description">
      <%= task.description %>
    </div>
    <div class="id">
      <%= task.id %>
    </div>
  </div>
  <div class="actions">
    <%= link_to "Add subtask", new_tasks_path(:parent_id => task) %>
    <%= link_to "Add another task", new_tasks_path(:after_id => task) %>
    <% if task.subtasks.count > 0 %>
      <%= link_to "Delete this task", '/tasks/' + task.id.to_s, :confirm => "Are you sure you want to delete this task and all its subtasks?", :method => :delete %>
    <% else %>
      <%= link_to "Delete this task", '/tasks/' + task.id.to_s, :confirm => "Are you sure you want to delete this task?", :method => :delete %>
    <% end %>
  </div>
</div>
