<div class="field" id="title-field">
  <%= task.label :title %>
  <br/>
  <%= task.text_field :title %>
</div>

<div class="field" id="description-field">
  <%= task.label :description %>
  <br/>
  <%= task.text_field :description %>
</div>

<%= hidden_field_tag "parent_id", params[:parent_id] %>
<%= hidden_field_tag "after_id", params[:after_id] %>
